* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

.container {
    position: relative;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background-image: url("images/smokeBg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container__header {
    width: 100%;
    height: 24%;
}

.header__logo {
    display: block;
    width: 60%;
    height: 60%;
    padding-top: 1rem;
    margin: 0 auto;
}

.header__title {
    color: silver;
    text-align: center;
    font-size: 18px;
    margin-top: 1em;
    letter-spacing: 0.2em;
    font-family: Roboto;
}

.header__title span {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: solid 2px #991113;
    border-right: solid 2px #991113;
}

.container__content {
    width: 100%;
    height: 65%;
}

.container__content__grid {
    width: 65%;
    height: 75%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto auto;
    outline: #991113 solid 2px;
    outline-offset: 2px;
    border: silver solid 2px;
}

.item-header {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.item-text {
    font-family: Roboto;
    font-size: 18px;
    color: silver;
}

.item-spacer {
    grid-area: 2 / 1 / span 1 / span 3;
    background-color: lightblue;
    align-self: baseline;
    padding: 0;
    margin: 0;
    border-bottom: silver solid 2px;
}

/*Targeting 1st, 2nd and 3rd place to change color, i guess it starts with 5 because there are 4 elements before the 1st place*/
.item-text:nth-child(5) {
    color: yellow;
}

.item-text:nth-child(8) {
    color: white;
}

.item-text:nth-child(11) {
    color: burlywood;
}

.champ__left {
    position: absolute;
    width: 30%;
    height: 50%;
    left: -2em;
    bottom: -4em; /*negative values bad practice/hack?*/
}

.champ__right {
    position: absolute;
    width: 50%;
    height: 50%;
    right: -2em;
    bottom: -6em;
}

.container__footer {
    width: 100%;
    height: 100%;
}

.footer__left {
    float: left;
    width: 50%;
    height: 100%;
}

.footer__left > .id {
    width: 32px;
    height: 32px;
    float: right;
    margin-top: 0.5em;
    margin-right: 1em;
}

.container__footer > .beth {
    width: 6em;
    height: 3em;
}